name: Acceptance tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
    branches:
      - main
  merge_group:

permissions:
  contents: read

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Call Dagger Function
        id: dagger
        uses: dagger/dagger-for-github@e47aba410ef9bb9ed81a4d2a97df31061e5e842e # v8.0.0
        with:
          version: "0.18.3"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir . --acceptance-tests-dir ./acceptance-tests"
