name: Acceptance tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
    branches:
      - main
  merge_group:

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Call Dagger Function
        id: dagger
        uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
        with:
          version: "0.19.2"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir . --acceptance-tests-dir ./acceptance-tests"
