name: Acceptance tests
on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      -
        name: Call Dagger Function
        uses: dagger/dagger-for-github@53a90075b0001a5d43da1f8bb5f3b6dba9c33c74 # v5.6.0
        with:
          version: "0.11.5"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir .:core-files"
