name: Acceptance tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Call Dagger Function
        id: dagger
        uses: dagger/dagger-for-github@a320953b08a879f11d75f5dcc5d6f80740666be9 # v7.0.0
        with:
          version: "0.14.0"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir .:source-files --acceptance-tests-dir ./acceptance-tests"
