name: Acceptance tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
    branches:
      - main
  merge_group:

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Call Dagger Function
        id: dagger
        uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
        with:
          version: "0.19.2"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir . --acceptance-tests-dir ./acceptance-tests"
