name: Acceptance tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Call Dagger Function
        id: dagger
        uses: dagger/dagger-for-github@6b6e9832f7dffd6cd9cdd989a577bb2cbfc45432 # v6.13.0
        with:
          version: "0.12.7"
          verb: call
          dagger-flags: "--silent"
          args: "acceptance-tests --root-dir .:source-files --acceptance-tests-dir ./acceptance-tests"
