# .github/workflows/preview.yml
name: Deploy Github Pages

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

concurrency: ci-${{ github.ref }}

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Install and Build
        working-directory: docs
        env:
          # Main: https://tanka.dev/
          # PRs: https://tanka.dev/pr-preview/pr-{number}/
          PATH_PREFIX: "${{ github.event_name == 'pull_request' && format('/pr-preview/pr-{0}', github.event.number) || '' }}"
        run: |
          yarn install
          yarn build
          # Create .nojekyll file to allow for additional files to be published
          # according to
          # <https://github.blog/2009-12-29-bypassing-jekyll-on-github-pages/>
          touch ./public/.nojekyll

      - name: Deploy main
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4
        with: 
          clean-exclude: pr-preview/
          folder: ./docs/public/

      - name: Deploy preview
        if: github.event_name == 'pull_request'
        uses: rossjrw/pr-preview-action@v1
        with:
          deploy-repository: ${{ github.event.pull_request.head.repo.full_name }}
          source-dir: ./docs/public/
