name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
    branches:
      - "*"
  merge_group:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-goversion
      - run: make lint

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-goversion
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "3.13.1"
      - name: Install jsonnet
        run: go install github.com/google/go-jsonnet/cmd/jsonnet@v0.20.0
      - run: make test

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-goversion
      - run: make cross
